*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body{
  background-color: rgb(158, 158, 158);
  display: flex;
  justify-content: center;
  align-items: center;
} */
.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(158, 158, 158);
  height: 80vh;
}
input{
  width: 100px;
  height: 50px;
  text-align: center;font-size: 2rem;
  border-radius: 10px;
  border: none;
  opacity: none;
}

.countdownBox{
  margin-top: 20px;
  display: flex;
  gap: 10px;
  text-align: center;
}
